<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>template</title>

  <!-- Fontes e Estilos -->
  <link rel="stylesheet" href="TemplateInicio.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600;800&display=swap">
</head>

<body>

  <!-- Conteúdo Principal -->

  <div class="fundoBlack">

    <div class="seta">
      <img class="setaImg" src="/imagens/SETA_SELECIONE_Template.png" alt="SetaIMG"></img>
    </div>

    <h3 class="selecione-uma-unidade">Selecione uma unidade</h3>
    <p class="salvador-ba">Salvador - BA</p>
    <div class="botao">
      <button class="shopping-paralela">Shopping Paralela</button>
      <button class="salvador-shopping">Salvador Shopping</button>
    </div>
  </div>

</body>

</html>